{% extends 'base.html' %}
{% load static %}
{% block title %}Новини Компанії{% endblock %}
{% block content %}

    <div class="content-block">
        <h2 class="desc">Дізнайся найновіші новини нашої компанії</h2>
        <div class="text-block">
            <div class="news-block">
                <h2>Новина 1</h2>
                <p class="main-text">Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не приховано нічого, що могло б викликати у читача конфуз. Більшість відомих генераторів Lorem Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum. Принципова відмінність цього генератора робить його першим справжнім генератором Lorem Ipsum. Він використовує словник з більш як 200 слів латини та цілий набір моделей речень - це дозволяє генерувати Lorem Ipsum, який виглядає осмислено. Таким чином, згенерований Lorem Ipsum не міститиме повторів, жартів, нехарактерних для латини слів і т.ін.</p>
            </div>
            <div class="news-block">
                <h2>Новина 2</h2>
                <p class="main-text">Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.</p>
            </div>
            <div class="news-block">
                <h2>Новина 3</h2>
                <p class="main-text">Etiam semper tortor aliquam libero scelerisque, a pellentesque augue gravida. Etiam faucibus vitae diam accumsan tincidunt. Etiam iaculis tincidunt finibus. In sodales velit quis ligula imperdiet, in sagittis elit congue. Morbi porttitor egestas lectus. In ornare, purus sed luctus interdum, quam justo ultrices leo, quis iaculis arcu quam et lectus. Morbi tincidunt congue lorem at ultrices. Mauris tristique augue fermentum, mollis mi at, dapibus est. Nullam nec feugiat diam, at lacinia tortor. Nulla gravida tortor ex, in sodales nisl placerat sit amet.</p>
            </div>
            <div class="news-block">
                <h2>Новина 4</h2>
                <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia gravida ipsum auctor feugiat. Etiam eleifend, eros vel volutpat blandit, turpis diam viverra neque, sed placerat est lacus a felis. Mauris commodo tempor ipsum in ultrices. Donec interdum erat eget ante ornare, ac pharetra purus ultrices. Donec in vestibulum mauris. Curabitur lacus ante, pharetra at blandit tempus, dignissim a nisl. Praesent eget odio quis arcu pharetra gravida commodo eu urna. In at hendrerit sapien, vitae facilisis lectus. Donec ultrices elit metus, vitae dapibus neque malesuada sed. Sed tristique lacus at nulla fermentum porttitor.</p>
            </div>
        </div>
    </div>

{% endblock %}