{% extends 'base.html' %}
{% load static %}
{% block title %}gogol{% endblock %}
{% block content %}

    <div class="content-block">
        <h2 class="desc">Директор компанії</h2>
        <div class="text-block person">
            <img src="{% static 'company/img/person.png' %}" class="person-icon">
            <h2>Гоголь Микола Васильович</h2>
            <h3>01.04.1987</h3>
            <div class="person-text">
                <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia gravida ipsum auctor feugiat. Etiam eleifend, eros vel volutpat blandit, turpis diam viverra neque, sed placerat est lacus a felis. Mauris commodo tempor ipsum in ultrices. Donec interdum erat eget ante ornare, ac pharetra purus ultrices. Donec in vestibulum mauris. Curabitur lacus ante, pharetra at blandit tempus, dignissim a nisl. Praesent eget odio quis arcu pharetra gravida commodo eu urna. In at hendrerit sapien, vitae facilisis lectus. Donec ultrices elit metus, vitae dapibus neque malesuada sed. Sed tristique lacus at nulla fermentum porttitor.</p>
                <p class="main-text">Etiam semper tortor aliquam libero scelerisque, a pellentesque augue gravida. Etiam faucibus vitae diam accumsan tincidunt. Etiam iaculis tincidunt finibus. In sodales velit quis ligula imperdiet, in sagittis elit congue. Morbi porttitor egestas lectus. In ornare, purus sed luctus interdum, quam justo ultrices leo, quis iaculis arcu quam et lectus. Morbi tincidunt congue lorem at ultrices. Mauris tristique augue fermentum, mollis mi at, dapibus est. Nullam nec feugiat diam, at lacinia tortor. Nulla gravida tortor ex, in sodales nisl placerat sit amet.</p>
                <p class="main-text">Vestibulum blandit egestas odio, in tempus mi ultricies et. Sed elementum, nibh quis porttitor sagittis, dolor ligula volutpat sapien, eu ullamcorper est enim id turpis. Integer tristique erat vel finibus rhoncus. Duis finibus lacinia nisi in eleifend. Donec in nibh a augue malesuada dapibus ut quis lorem. Vivamus malesuada eros elit, non fermentum velit faucibus at. Vestibulum interdum elementum nisi et laoreet. Integer libero nibh, euismod vel diam ut, consequat malesuada sem. Curabitur ante quam, rutrum in venenatis vel, tincidunt eleifend leo. Fusce mattis leo vel lobortis tincidunt. Proin convallis, mi vel auctor lacinia, mi eros convallis dui, eu tincidunt sem erat laoreet quam. Maecenas ipsum turpis, euismod quis turpis in, dignissim varius diam. Phasellus consectetur ut velit vel interdum.</p>
            </div>
        </div>
    </div>

{% endblock %}